body {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/77/b6/33/77b633134f73d7b7e5d0c83df1edf863.jpg) #fff;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 150px;
  line-height: 150px
}

h2 {
  font-size: 80px;
  line-height: 80px;
}

h3 {
  font-size: 60px;
  line-height: 60px;
}

h4 {
  font-size: 30px;
  line-height: 30px;
}

p {

}

a {
  color: #fff;
  text-decoration: none;
}

button {
  font-size: 14px;
  color: #000;
  text-shadow: none;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.scrollable {
  overflow-y: scroll;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-lighter {
  font-weight: lighter;
}

.t-normal {
  font-size: 18px;
}

.btn {
  font-size: 22px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  text-shadow: none;
  background-color: #ddd;
  font-weight: lighter;
  text-align: center;
}

.btn:hover {
  background-color: #fff;
}

.nav-modals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-modals li {
  margin-bottom: 25px;
}

.hello-body {
  color: #000;
  text-shadow: none;
}
